<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643642329789-v3kl840rnrihevkdlhie52idu4t2gi05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643642329789-v3kl840rnrihevkdlhie52idu4t2gi05</string>
	<key>API_KEY</key>
	<string>AIzaSyC_K-kKeeWgBt1EPyX8HNvi2O30k5GHZpg</string>
	<key>GCM_SENDER_ID</key>
	<string>643642329789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booyse31sa.sharedspace</string>
	<key>PROJECT_ID</key>
	<string>shared-space-e2b6e</string>
	<key>STORAGE_BUCKET</key>
	<string>shared-space-e2b6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643642329789:ios:482a9e03ee74dfda0545d4</string>
</dict>
</plist>